<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>HTML 5 Boilerplate</title>
	<link rel="stylesheet" href="style.css">
	<style>
		/* CSS for the blog post frame */
        .blog-post {
            overflow: hidden;
            <!--text-overflow: ellipsis;-->
            white-space: nowrap;
            border: 1px solid #ccc;
            height: 300px;
			width: 500px;
            
        }
        .grid {
            margin: 100px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
            grid-gap: 20px;
        }
	</style>
</head>
  <body>
	<header>
		<h1> {{title | default: "My Blog"}} </h1>
	</header>
	<main>
		{% if user %}
		 Hello, {{ user.name | default: "unknown"}}!
		{% endif %}
		{{content}}
		<!--return home-->
		<a href="/">Home</a>
	</main>
	<script src="index.js"></script>
  </body>
</html>
